{% extends 'restaurateur/base_restaurateur_page.html' %}
{% load custom_tags %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Оплата</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Стоимость</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.get_payment_display }}</td>
        <td>{{ item.firstname }} {{item.lastname}}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.cost }}</td>
        <td>{{ item.comment }}</td>
        {% if not item.restaurant %}
          {% if not item.coordinates %}
          <td><p>Ошибка определения координат</p></td>
          {% else %}
          <td><details>
              <summary>Может быть приготовлен ресторанами:</summary>
              <ul>
                {% for restaurant in item.available_restaurants %}
                  <li>{{ restaurant }}: {{ item.readable_distance|get_item:restaurant.name }}</li>
                {% endfor %}
              </ul>
              </details>
          </td>
          {% endif %}
        {% else %}
          <td>Готовит {{ item.restaurant }}</td>
        {% endif %}
        <td><a href="{% url 'admin:orders_order_change' object_id=item.id %}?next={{ request.get_full_path|urlencode:'' }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
