{% extends 'base_restaurateur_page.html' %}

{% block title %}Меню | Star Burger{% endblock %}

{% block content %}

  <center>
    <h2>Ваше меню</h2>
  </center>

  <hr/>

  <br/>
  <br/>

  <div class="container">
   <table class="table table-responsive">
      <tr>
        <th></th>
        <th>Название</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>В продаже</th>
        <th>Ресторан</th>
      </tr>

      {% for product in products %}
        <tr>
          <td><img src="{{product.image.url}}" alt="{{product.name}}" height="50px"></td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.price}}</td>
          <td>{{product.availability}}</td>
          <td>{{product.restaurant.name}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
