{% extends 'base_restaurateur_page.html' %}

{% block title %}Рестораны | Star Burger{% endblock %}

{% block content %}

  <div class="container">
    <center>
      <h2>Ваши рестораны</h2>
    </center>

    <hr/>

    <table class="table table-responsive">
      <tr>
        <th>Название</th>
        <th>Адрес</th>
        <th>Контактный телефон</th>
      </tr>

      {% for restaurant in restaurants %}
        <tr>
          <td>{{restaurant.name}}</td>
          <td>пусто</td>
          <td>пусто</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
