{% extends 'base_restorator_page.html' %}

{% block title %}Рестораны | FoodCartApp{% endblock %}

{% block content %}

  <div class="container">
    <center>
      <h2>Ваши рестораны</h2>
    </center>

    <hr/>

    <table class="table table-responsive">
      <tr>
        <th>Id</th>
        <th>Название</th>
      </tr>

      {% for restaurant in restaurants %}
        <tr>
          <td>{{restaurant.id}}</td>
          <td>{{restaurant.name}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
